
<div class="row-fluid">
	<div class="widget widget-padding span12">
		<div class="widget-header">
			<i class="icon-group"></i>
			<h5>Dynamic Table</h5>
			<div class="widget-buttons dataTables_wrapper form-inline">
				<a href="http://www.datatables.net/usage/"
					data-title="Documentation" class="tip" target="_blank"><i
					class="icon-external-link"></i></a> <a href="#" data-title="Collapse"
					data-collapsed="false" class="tip collapse"><i
					class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="widget-forms clearfix">
				<form class="form-horizontal" ng-submit="checkSubmit()">
				
					  <span class="controls">
	                    <select class="span3" ng-model="checkData.depa" ng-options="item.name for item in departmentList">
	                    </select>
	                  </span>
	                  
					  <span class="controls">
						<input type="text" class="success" ng-model="checkData.name">
						<!-- span class="help-inline"><code>class="success"</code></span> -->
					  </span>
	      
	                  <span class="controls">
	                    <button class="btn btn-large btn-primary" type="submit">搜索</button>
	                  </span>
				</form>
			</div>
		<div class="widget-body">
			<table id="users"
				class="table table-striped table-bordered dataTable">
				<thead>
					<tr>
						<th>姓名</th>
						<th>用户名</th>
						<th>位置</th>
						<th>手机</th>
						<th>邮箱</th>
						<th>事业部</th>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat="item in playerList" teamid={{item.id}}>
						<td>{{item.register.name}}</td>
						<td>{{item.register.username}}</td>
						<td>{{item.register.position}}</td>
						<td><span class="label">{{item.register.mobile}}</span></td>
						<td>{{item.register.email}}</td>
						<td>{{item.team.department.name}}</td>
					</tr>


				</tbody>
			</table>
		</div>
		<!-- /widget-body -->
	</div>
	<!-- /widget -->
</div>
<!-- /row-fluid -->

