<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Realm - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="/assets/ico/favicon.html">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="/assets/ico/favicon.ico">
  </head>
  <body>
    <div id="wrap">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          	<div class="row-fluid">
				<div class="widget container-narrow">
					<div class="widget-header">
						<i class="icon-user"></i>
						<h5>Log in to your account</h5>
					</div>  
					<div class="widget-body clearfix" style="padding:25px;">
		      			<form action="#" action="#" th:action="@{/login}" th:object="${logger}" method="post">
		      				<div style="padding:10px 0">
		      					<a style="" href="#" class="btn btn-large btn-block btn-primary"><i class="icon-facebook-sign"></i> Login with Facebook</a>
		      				</div>
		      				<div class="divider">
		      					<span>密码错误</span>
		      				</div>
							<div class="control-group">
								<div class="controls">
									<input class="btn-block" type="text" id="inputEmail" th:field="*{username}" placeholder="Username">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input class="btn-block" type="password" id="inputPassword" th:field="*{password}" placeholder="Password">
								</div>
							</div>
							 <div class="control-group">
								<div class="controls clearfix">
									<label style="width:auto" class="checkbox pull-left">
										<input type="checkbox"> Remember me
									</label>
									<a style="padding: 5px 0px 0px 5px;" href="#" class="pull-right">Forgot Password?</a>
								</div>
							</div>					
							<button type="submit" class="btn pull-right">Sign in</button>
		      			</form>
					</div>  
				</div>  
      			<div style="text-align:center">
      				<p>Neen an account? <a href="/register">Create Account</a></p>
      			</div>
        	</div><!--/row-fluid-->
        </div><!--/span10-->
      </div><!--/row-fluid-->
    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->
  </body>
</html>
